<html>
	<body>
	<title>Adivin&aacute;</title>
		<table>
			<tr style="border-bottom:1px"><td>&nbsp;</td></tr>
		</table>
		<form method=post action="validar">
			<input id="campo_letra" type=text name="campo_letra"/>
			<input id="boton_validar" type=submit value = "Validar"/>
		</form>

	</body>
</html>

