<html>
	<body>
	<title>Adivin&aacute;</title>
		<table>
			<tr style="border-bottom:1px"><td>&nbsp;</td></tr>
		</table>
		<form method=post action="validar">
			<input id="campo_letra" type=text name="campo_letra"/>
			<input id="boton_validar" type=submit value = "Validar"/>
		</form>
<p id="intentos">Intentos realizados: <span id="intentos_realizados"><%= $ahorcado.intentos_realizados%></span> de <%= $ahorcado.intentos_maximos %></p>
	</body>
</html>

