<html>
	<body>
	<title>Adivin&aacute;</title>


		<p style="color:red";>B I E N V E N I D O !!!</p>
                <p>!! A D I V I N A --- C A N A V I !!!</p>
		<form method=post action="nuevo">
	        	<input id="boton_inicio" type=submit value = "comenzar"/>
		</form>

	</body>
</html>

