<html>
	<body>
	<title>Adivin&aacute;</title>
		<form method="post" action="reintentar" >
			<p id="resultado">Game Over!</p>
			<input id="boton_reintentar" type=submit value = "Reintentar"/>
		</form>
	</body>
</html>

